# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Virtual env
venv/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Models
*.bin
*.pt
*.pth
*.ckpt
*.onnx

# Data
data/raw/
data/tmp/

# Logs
*.log

# OS
.DS_Store
Thumbs.db